/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: "verdana", Arial, Helvetica, sans-serif;
	font-size:12px;
}
.wrap{
	padding: 10px;
}
/*top header*/
.top-bg{
	background: #726128;
}
.top-hader{
	padding:4px 0px;
}
.top-header-left{
	float:left;
}
.top-header-left p,.top-header-right p{
	color:#fff;
	font-family: 'Merriweather Sans', sans-serif;
}
.top-header-right{
	float:right;
}
.top-header-right p a{
	color:rgb(250, 199, 24);
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}
.top-header-right p a:hover{
	color:#fff;
}
/*end-top header*/
.header-bg{
	background: #9F8838;
}
/*header*/
.header{
	text-align:center;
	padding:8px 0;
}
/*menu*/
.menu-bg{
	border-top:4px solid #726128;
	background:rgb(224, 224, 224);
}
/*--------*/
.sub-head{
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 ); /* ie */
	border:1px solid rgb(193, 196, 189);
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	border-bottom: 4px solid #726128;
}
.sub-head li{
	display:inline-block;
	float:left;
	width:50%;
	text-align:center;
}
.sub-head li a span{
	position:absolute;
	top:12px;
	left:12px;
	width:16px;
	height:16px;
	display:inline-block;
}
.sub-head li a.active{
	color:#fff;
	background:#2d2d2d;
}
.sub-head li:first-child a{
	border-right:1px solid rgb(150, 148, 148);
}
.sub-head a{
	font-weight:bold;
	position:relative;
	display:block;
	color:#555;
	padding:10px;
}
.menu{
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 ); /* ie */
	border-top: 1px solid rgb(199, 199, 199);
}
.menu li{	
	display:block;
}
.menu li a{
	display:block;
	padding:10px;
	color:#666;
	font-weight:bold;
	border-bottom: 1px solid rgb(199, 199, 199);
}
.menu li:last-child a{
	border-bottom:none;
}
.search{
	display:block;
	padding:10px;
	text-align:center;
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 ); /* ie */
}
.search input[type=text]{
	width: 90%;
	padding: 10px;
	border: 1px solid rgb(173, 179, 162);
	color: #555;
	font-size: 13px;
	background: #ddd;
	outline: none;
}
.back-btn {
	cursor: pointer;
	background: rgb(71, 71, 71);
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.back-btn ul li{
	display:inline-block;
	padding: 4px 6px;
}
.back-btn ul li:before{
	content: url('../images/back.png');
}
.back-btn ul li a {
	padding: 4px 10px;
	font-size:13px;
	color: #fff;
	margin-left:-8px;	
	line-height: 1.7em;
	vertical-align: bottom;
}	
/*slider*/
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0% 0; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a:before{
}
.flex-direction-nav a {
	margin: -20px 0 0;
	display: block;
	position: absolute; 
	top:45%; z-index: 10; 
	cursor: pointer;
	text-indent: -9999px; 
	opacity: 0; -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {background-position: 100% 0; 
	content: url('../images/right-arrow.png') no-repeat 0 0;
}
.flex-direction-nav .flex-prev {
	content: url('../images/left-arrow.png') no-repeat 0 0;
}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width:0px; height:0px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
/*end slider*/
/*content-bg*/
.content-bg{
	border-top: 1px solid rgb(243, 243, 243);
	background: rgb(250, 250, 250);
}
.main{
	text-align: center;
	border-bottom: 2px solid rgb(236, 236, 235);
}
.main h2{
	margin:6px 0;
	font-size: 22px;
	color: #726128;
}
.main h3{
	font-size:16px;
	color: #555;
	margin-bottom: 6px;
}
.main h3 span{
	color:rgb(194, 154, 20);
}
.top{
	margin-top: 10px;
}
.grid h4{
	margin: 6px 0;
}
p{
	color:#555;
	line-height: 1.5em;
}
.btn{
	text-align:center;
	margin:14px 0;
}
.btn1{
	text-align:left;
	margin-top:10px;
}
.btn img,.btn1 img{
	margin-top:-2px;
	vertical-align: middle;
	margin-right:6px;
}
.btn a,.btn1 a{
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	color:#716128;
	text-transform:capitalize;
}
.btn img:hover,.btn1 img:hover{
		opacity:0.9;
}
.btn a:hover,.btn1 a:hover{
	color: rgb(194, 154, 20);
}
/*grids*/
.grid{
	text-align: center;
}
.grid img,.abt img,.det-pic img{
	border-radius:4%;
	-moz-border-radius:4%;
	-o-border-radius:4%;
	-webkit-border-radius:4%;
	border:6px solid rgb(255, 255, 255);
	cursor:pointer;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
	box-shadow: 0px 0px 10px rgb(221, 221, 221);
}
.grid img:hover,.abt img:hover,.det-pic img:hover{
	border:6px solid rgb(255, 255, 255);
}
.grid:hover img,.abt:hover img,.det-pic:hover img{
	border:6px solid #726128;
}
h2{
	color:#fff;
}
h3{
	color: #726128;
}
h4{
	color:#555;
}
h2,h3,h4{
	font-size:22px;
	font-family: 'Merriweather Sans', sans-serif;
	text-transform: uppercase;
	display: block;
}
/*  GRID OF Four   ============================================================================= */
.images_1_of_4  p {
	text-align:center;
}
.images_1_of_4 .button{
	margin-top:.3em;
	line-height:1.5em;
}
/*end content*/
/*footer*/
.footer-bg{
	background: #726128;
	border-top:1px solid rgb(243, 244, 245);
}
.nav1{
	margin-top: 4px;
}
.nav1 li a{
	color: rgb(206, 178, 79);
	display:inline;
	line-height: 2.0em;
	font-size: 13px;
}
.nav1 li a:hover{
	color:rgb(187, 162, 64);	
}
.nav1 li a img{
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 10px;
}
.nav1 li a img:hover{
	opacity: 0.6;
}
/*  GRID OF FOUR   ============================================================================= */

/*end footer*/
.footer1-bg{
	background: rgb(109, 92, 36);
}
.footer1{
	text-align:center;
	padding: 20px 0;
}
.footer1 p{
	color:#fff;
}
.footer1 p.w3-link a{
	color: rgb(173, 148, 63);
}
.footer1 p.w3-link a:hover{
	text-decoration:underline;
}
/*About*/
/*  GRID OF Content with Image   ============================================================================= */
.grid1{
	margin:8px 0;
}	
.span_2_of_3 .button{
	margin-top:.3em;
	line-height:1.5em;
}
/*  Contact Form  ============================================================================= */
.span_2_of_3  h3,.span_1_of_3  h3 {
	color:#726128;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:13px;
	color: #333;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
    padding:8px;
	display:block;
	width:94%;
	background:rgba(255, 255, 255, 0.26);
	border: none;
	outline:none;
	color:#464646;
	box-shadow: inset 0px 0px 2px rgba(113, 116, 110, 0.85);
	-webkit-box-shadow: inset 0px 0px 2px rgba(113, 116, 110, 0.85);
	-moz-box-shadow: inset 0px 0px 2px rgba(113, 116, 110, 0.85);
	-o-box-shadow: inset 0px 0px 2px rgba(113, 116, 110, 0.85);
	-webkit-appearance:none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	font-family: 'Merriweather Sans', sans-serif;
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background: #726128;
	position:absolute;
    right:0;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.contact-form input[type="submit"]:hover{
	background: #9F8838;
}
.contact-form input[type="submit"]:active{
	background: #9F8838;  
}
.company_address{
	padding-top:12px;
}
.company_address p{
	margin-top:8px;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-top:10px;
}
form{
	margin-top:6px;
}
/*details*/
.det-pic{
	margin-top:10px;
}
.det-para{
	margin:10px 0;
}
.det-btm{
	padding-bottom: 30px;
}
/*404*/
.page{
	text-align:center;
}
.page h5{
	font-size: 8em;
	color:#726128;
}
